@model IEnumerable<WebDAL.DataModels.Items>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h2>Item Management</h2>
            @{ bool? sort = ViewBag.sort ?? false;}
            @using (Html.BeginForm("Index", "Items", new { sort = !sort }, FormMethod.Post, null))
            {
                <button type="submit" class="btn btn-sm btn-rounded btn-gradient-success">Sort By Price <span class="mdi mdi-sort-ascending"></span></button>
            }
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    Seller
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BidIncrement)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.FirstName)
                        @Html.DisplayFor(modelItem => item.Users.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemTitle)
                    </td>
                    <td>
                        @{ string str = item.ItemImage;}
                        <img src="@Url.Content(str)" alt="Alternate Text" width="100" height="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidIncrement)
                    </td>
                    <td>
                        <button class="btn btn-sm btn-rounded btn-info">@Html.ActionLink("Details", "Details", new { id = item.ItemId },new {style="color:white;" })</button> 
                    </td>
                </tr>
            }
        </table>
    </div>
</div>