@model WebDAL.DataModels.Users

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div class="card">
    <div class="card-body">
        <h4>Users</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @{string str = Model.Status ? "Active" : "Inactive";}
                @str
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
            <hr />
            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        <p>
            <button class="btn btn-sm btn-rounded btn-warning">@Html.ActionLink("Ban", "Ban", new { id = Model.UserId }, new { style = "color:white;" })</button>   |
            <button class="btn btn-sm btn-rounded btn-info">@Html.ActionLink("Back to List", "Index", null, new { style = "color:white;" })</button>
        </p>
    </div>
</div>
