@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebDAL.DataModels.Items>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="container">
    <div class="row">
        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: 20px">
            <div role="tabpanel" class="tab-pane fade in active" id="tab_01">
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-lg-4 col-sm-6">
                            <div class="card">
                                <div class="singleProduct01 text-center">
                                    <div class="productThumb01">
                                        <img src="@Url.Content(item.ItemImage)" alt="" width="50" height="200" />
                                    </div>
                                    <div class="productDesc01">
                                        <h5><a href="" class="poppins">@Html.ActionLink(@item.ItemTitle, "Details", new { id = item.ItemId }, null)</a></h5>
                                        <h5>End at :</h5>
                                        <div class="time" id="time" time-set="y">@item.BidEndDate</div>
                                        <div class="card-footer">
                                            <button class="Price" type="submit" style="border:none;border-radius: 20px;background: #fd8e2fff;color: #fff"><i class="fa fa-gavel" aria-hidden="true"></i></button>@item.BidIncrement
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mtop32">
        <div class="col-lg-12 text-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, key = ViewBag.key }))
        </div>
    </div>
</div>
