@model IEnumerable<WebDAL.DataModels.BidLog>

@{
    ViewBag.Title = "ViewLog";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    Bidder
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BidPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BidDate)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.FirstName)
                        @Html.DisplayFor(modelItem => item.Users.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidDate)
                    </td>
                </tr>
            }

        </table>
    </div>