@model IEnumerable<WebDAL.DataModels.Orders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="card">
        <div class="card-header">
            <div class="container"><h2>Orders Management</h2></div>
        </div>
        <div class="card-body">
            @{ string key = ViewBag.ordkey; }
            @using (Html.BeginForm("Index","Orders",new { key = key },FormMethod.Post,null))
            {
            <div class="form-inline input-group">
                <input type="text" style="border-radius:13px;border:none;" name="key" id="key" value="@key" placeholder="Enter user ID to search order ..." />
                <div class="form-group">
                    <button type="submit" style="border-radius:9px;border:none;width:50px;height:30px;margin-left:10px;"><span class="mdi mdi-send"></span></button>
                </div>
            </div>
            }
        <br />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.ItemTitle)
                    </th>
                    <th>
                        Buyer
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Items.ItemTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Users.FirstName)
                            @Html.DisplayFor(modelItem => item.Users.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>